:root{

    --primary-color: #ea001e;
    --secondary-color: rgb(147, 146, 146);
    --ternary-color: black;
    --forth-color: white;
    --fifth-color: #1f2e4e;
     
    }
    a{
        text-decoration: none;
    }

    
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;

}


/* header section start */
.header{
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 10;
    background-color: white;
}
.top-header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--fifth-color);
}

.overlay {
    min-height: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    display: flex;
    gap: 14px;
}

.app-icon {
    height: 30px;
    width: 30px;
    background-color: var(--forth-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon:hover {
    background-color: var(--primary-color);
}

.app-icon i {
    font-size: 15px;
    color: var(--primary-color);
}

.app-icon i:hover {
    color: var(--forth-color);
}

.app-icon:hover i {
    color: var(--forth-color);
}

.location a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;

    line-height: 45px;
}

.location a i {
    font-size: 18px;
    color: var(--primary-color);
    padding: 0px 26px;
}

.bottom-header {
    height: 90px;
    width: 100%;
    border: 1px solid var(--secondary-color);
    justify-content: center;
    display: flex;
    
  
}

.cental a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 47px;
    
    font-weight: bold;
   
}

.cental a i {
    font-size: 47px;
    color: var(--primary-color);
   
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    
    color: var(--ternary-color);
    
    
    
}
/* .feature-cars{
    justify-content: center;
    display: flex;

}
.feature-cars  li{
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    
}
.navbar a:hover {
    color: var(--primary-color);
} */

.navbar .nav-list{
    list-style: none;
    padding-top: 10px;
    display: flex;
    gap: 20px;
}


ul li{
    
    padding: 8px 8px;
    
    position: relative;
}
ul li:hover{
    color: var(--primary-color);

}
.navbar ul li ul{
    list-style: none;
    position: absolute;
    background-color: rgb(239, 239, 239);
     border-radius: 10px;
     top: 35px;
     left: -10px;
   
}
ul li ul li{
   
    display: none;
    width: 150px;
   
}
ul li:hover ul li{
    
    display: flex;  
}

.get {
    height: 50px;
    width: 165px;
    background-color: var(--primary-color);
    border-radius: 50px;
    text-align: center;
}

.get:hover {
    background-color: var(--ternary-color);
    box-shadow: 0px 0px 5px var(--ternary-color);
}

.get a {
    text-decoration: none;
    color: var(--forth-color);
    font-size: 18px;
    line-height: 50px;
}


/* header section end */



/* main section start */

/* hero section start */
.hero {
    min-height: 700px;
    width: 100%;
    background-image: url(../images/carousel-2.jpg);
    background-size: cover;
    background-position: center;
}

.inner {
    min-height: 700px;
    width: 100%;
    background-color: rgb(48, 49, 49, 0.6);
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 48%;
    padding: 30px;
}

.hero-content h1 {
    color: var(--forth-color);
    font-size: 50px;
    padding-top: 40px;
}

.hero-content h5 {
    color: var(--forth-color);
    font-size: 18px;
    padding-top: 15px;
}

.hero-form {
    width: 48%;
    display: flex;
    align-items: center;
    height: 700px;

}

.car-form {
    min-height: 500px;
    width: 95%;
    background-color: var(--fifth-color);
    padding: 30px;
    border-radius: 10px;
}

.hero-form h3 {
    text-align: center;
    color: var(--forth-color);
    font-size: 25px;
    padding: 17px 0px;
}



.input-text{
    height:40px;
    width:100%;
    margin:12px 0px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}
.input-text1{
    height:40px;
    width:50%;
    margin:12px 0px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}
.text-outer{
    display: flex;
    gap:8px;
}
.btn{
    height:40px;
    width:100%;
    margin:6px 0px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}
.btn span{
    color:var(--primary-color);
    font-size: 20px;
}

/* hero section end */
.cental-features{
    min-height:550px;
    width:100%;
    background-color: rgb(223, 223, 220);
}
.feature {
    height:170px;
    width:100%;
}
.feature-heading {
    font-size: 45px;
    text-align: center;
    padding-top:70px;
}
.feature-heading span{
    color:var(--primary-color);
}
.feature-description{
    font-size: 17px;
    width:60%;
    margin:auto;
    text-align: center;
}
.feature-content-box{
    height:320px;
    width:32%;
}
.feature-content-box img{
    height:300px;
    width:100%;
    padding-top:50px;
    object-fit: contain;
}
.first-class{
   height: 145px;
   width:100%;
    display: flex;
}

 .first-icon{
    height:145px;
    width:30%;
    padding:57px 20px;
}
.f-icon{
    height:100px;
    width:100px;
    background-color: var(--primary-color);
    animation-duration: 5s;
    animation-name: circle;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes circle{
    0%{
        border-top-right-radius: 0%;
        border-bottom-right-radius:25%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    30%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    60%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:0%; 
        border-top-left-radius:50%; 
    }
    100%{
       border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:50%; 
        border-top-left-radius:0%; 
    }
}
.f-icon i{
    font-size: 40px;
   line-height: 100px;
   text-align: center;
   padding-left: 27%;
}
.first-para{
   height:225px;
    width:70%;
}
.class-services{
    font-size: 22px;
    padding-top:50px;
    font-weight: bold;
}
.class-services1{
    text-align:right;
   font-size: 22px;
    padding-top:50px;
    font-weight: bold;
}
.road-assistance{
    font-size: 17px;
    padding-top:15px;
    color: var(--secondary-color);
}
.road-assistance1{
     text-align:right;
   font-size: 17px;
    padding-top:15px;
    color: var(--secondary-color); 
}
/* hero section end*/



/* cental feature start */
.cental-feature {
    min-height: 600px;
    width: 100%;
    background-color: rgb(239, 239, 239);
}

.feature {
    height: 200px;
    width: 100%;

}

.feature-heading {
    text-align: center;
    color: var(--primary-color);
    padding: 50px 0px 10px 0px;
    font-size: 35px;
}

.feature-heading span {
    color: var(--fifth-color);
}

.feature-discription {
    color: rgb(120, 119, 119);
    text-align: center;
    width: 60%;
    margin: auto;
    line-height: 25px;
}

.feature-content-box {
    width: 32%;
    height: 350px;


}

.feature-content-box img {
    height: 350px;
    width: 100%;
    object-fit: contain;

}

.first-class {
    height: 175px;
    width: 100%;

    display: flex;
}

.class-icon {
    width: 35%;
    height: 175px;

    padding: 44px 23px;
}

.trophy {
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    padding-top: 30px;
    line-height: 60px;
    text-align: center;
    animation-name: circle;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes circle {
    0% {
        border-top-right-radius: 0%;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 55%;
    }

    30% {
        border-top-right-radius: 30%;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 50%;
    }

    60% {
        border-top-right-radius: 30%;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 55%;

    }

    100% {
        border-top-right-radius: 30%;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 55%;
        border-bottom-right-radius: 0%;

    }

}

.trophy i {
    font-size: 35px;
}

.class-para {
    width: 65%;
    height: 225px;
    padding-top: 30px;
}

.class-service {
    color: black;
    font-size: 22px;
}

.class-service1 {
    text-align: right;
    color: black;
    font-size: 22px;
}

.service-detail {
    color: rgb(119, 117, 117);
    padding-top: 20px;
}

.service-detail1 {
    color: rgb(119, 117, 117);
    padding-top: 20px;
    text-align: right;
}

/* cental feature end */

/*about section start  */
.about{
    min-height:320px;
    width:100%;
    background-image: url(../images/fact-bg.jpg);
    background-size: cover;
    background-position: center;
    
}
.about .inner{
     min-height:320px;
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(31, 31, 85, 0.7);
}
.about-us{
    font-size: 55px;
    color:var(--forth-color);
    font-weight: bold; 
    padding-bottom: 10px;
}
.about a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.about span{
    color: var(--forth-color);
    font-size: 18px;
}
.about span:nth-child(3){
    color:var(--primary-color);
    font-size: 18px;
}
.cental-about{
    min-height: 800px;
    width:100%;
    padding:60px 0px;
}
.cental-1 {
    height:870px;
    width:100%;
    position: relative;
}
.cental-heading{
    font-size: 55px;
    word-spacing: 10px;
}
.cental-heading span{
    color:var(--primary-color);
}
.cental-para{
    font-size: 17px;
    color:grey;
    padding-top: 10px;
}
.our{
    height:270px;
    width:100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.our-vision{
    height:270px;
    width:48%;
    border-radius: 10px;
    background-color:rgb(231, 227, 227);
}
.our-v{
    height:150px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .target{
    height:100px;
    width:100px;
    padding-top:25px;
    text-align: center;
    background-color: var(--primary-color);
    animation-duration: 5s;
    animation-name: circle;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes circle{
    0%{
        border-top-right-radius: 0%;
        border-bottom-right-radius:25%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    30%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    60%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:0%; 
        border-top-left-radius:50%; 
    }
    100%{
       border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:50%; 
        border-top-left-radius:0%; 
    }
}
.target i{
    font-size: 50px;
    color:var(--fifth-color);
}
.vision{
    font-size: 28px;
    word-spacing: 3px;
    text-align: center;
     padding: 10px 0px;
}
.our-para{
    color:grey;
    width:85%;
    margin:auto;
    text-align: center;
}
.about-para1{
    color:var(--secondary-color);
    padding-top: 60px;
    padding-bottom:30px;
    padding-left: 10px;
    line-height: 22px;
    position: relative;
}
.about-para1::after{
    content: " ";
    left:0px;
    height:80px;
    width:6px;
    top:55px;
    background-color: var(--fifth-color);
    position: absolute;
}
.experience{
    height:150px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.years{
    height:150px;
    width:49%;
    background-color: var(--fifth-color);
    border-radius: 10px;
}
.number{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top:25px;
    color: var(--forth-color);
}
.of{
    font-size: 25px;
    text-align: center;
     color: var(--forth-color);
}
.years-1{
    height:150px;
    width:49%;
}
.tick{
    color:grey;
    padding:9px 20px;
    font-size: 17px;
}
.tick i{
    color:var(--primary-color);
    padding-right: 10px;
}
.more-about{
    height:120px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.more-btn{
    height:120px;
    width:37%;
     padding-top: 45px;
}
.more{
    height:60px;
    width:100%;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    background-color: var(--primary-color);
}
.more a{
    font-size: 20px;
    color: var(--forth-color);
}
.about-id{
    height:120px;
    width:62%;
    display: flex;
    padding-left: 50px;
    padding-top:25px;
    justify-content: space-between;
}
.id-pic{
    height:100px;
    width:30%;
    border: 4px solid var(--fifth-color);
    border-radius: 50%;
    background-image: url(../images/attachment-img.jpg);
    background-size: cover;
    background-position: center;
}
.id-name{
    height:120px;
    width:75%;
    padding-bottom: 25px;
}
.william{
    font-size:27px;
    padding-top:15px
}
.carveo{
    font-size: 17px;
    padding-top: 7px;
    color:grey;
}
.about-img1 img{
    height: 650px;
    width:92%;
    border-radius: 10px;
    padding-left: 50px;
    position: relative;
    object-fit: cover;
}
.about-img1::after{
    content: "";
    right:0%;
    height:520px;
    width:7px;
    position: absolute;
    background-color: var(--primary-color);
}
.cental-1 .about-img2{ 
    width: 82%;
    left: 18%;
    height: 330px;
    position: absolute;
    bottom: 6%;
}
.cental-1 .about-img2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about3{
   min-height:350px;
    width:100%;
    background-image: url(../images/fact-bg.jpg);
    background-size: cover;
     display: flex;
    justify-content: space-between;
    background-position: center;
   
}
.about3-inner{
    height:350px;
    width:100%;
    background-color: rgba(12, 12, 37, 0.9);
}
.about3-features{
    height:350px;
    width: 17%;
    
    
    
   
}
.about3-icon{
    height:190px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about3-icon1{
    height:100px;
    width:100px; 
    text-align: center;
    background-color: var(--primary-color);
    animation-duration: 5s;
    animation-name: circle;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes circle{
    0%{
        border-top-right-radius: 0%;
        border-bottom-right-radius:25%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    30%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    60%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:0%; 
        border-top-left-radius:50%; 
    }
    100%{
       border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:50%; 
        border-top-left-radius:0%; 
    }
}
.about3-icon1 i{
    font-size: 40px;
    line-height: 100px;
    color: var(--fifth-color);
}
.about3-text{
    height:160px;
    width:100%;
    text-align: center;
    display: block;
    
}
.client{
    font-size: 35px;
    color: var(--forth-color);
}
.happy{
    font-size:25px;
    padding-top: 10px;
    color:var(--forth-color);
}
/* central process start */
.cental-process{
    min-height: 400px;
    width:100%;
    background-image:url(../images/bg-1.jpg); 
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-position: center;
}
.process-inner{
    min-height:400px;
    width:100%;
    background-color: rgba(7, 7, 7, 0.9);
}
.process-heading{
    height:200px;
    width:100%;
    text-align: center;
    color: var(--forth-color);
   padding-top: 50px;
}
.cental-heading h2{
    font-size: 55px;
    font-weight: bolder;
    word-spacing: 2px;
}
.process-para{
    color: var(--forth-color);
    padding-top: 10px;
   padding-left:19%;
   font-size: 18px;
    width:80%;
}
.process-information{
    height:250px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.process-contact{
    height:150px;
    width:32%;
    background-color: var(--fifth-color);
    border-radius: 10px;
    position: relative;
}
.inform-h1{
    font-size: 30px;
    color: var(--forth-color);
    padding-top: 30px;
    padding-left:20px;
}
.inform-para{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    color:var(--forth-color);
}
.about3-gola{
    height:80px;
    width:80px;
    border-radius: 50%;
    line-height: 76px;
    text-align: center;
    left:73%;
    bottom: -40px;
    background-color: var(--fifth-color);
    border: 3px solid var(--forth-color);
    position: absolute;
}
.about3-gola span{
    font-size: 20px;
    color:var(--forth-color);
    font-weight: bold;
}
/* central process end*/


/*about section end */



/* cental services section start */
.cental-services{
    min-height: 800px;
    width:100%;
    padding:60px 0px ;
    background-color: rgb(236, 235, 235);
}
.services-heading{
    min-height:100px;
    width:100%;
    text-align: center;
}
.services-hd{
    font-size: 50px;
}
.services-hd span{
    color: var(--primary-color);
}
.services-para{
    font-size: 17px;
    width:80%;
    padding: 30px 0px;
    margin: auto;
}
.car-services{
    min-height:300px;
    width:100%;
    
   
}
.car-services1{
    min-height:300px;
    width:100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-content: space-evenly;
     flex-wrap: wrap;
     gap: 30px 0px;
}
.car-s{
    height:260px;
    width:31%;
    border-radius: 10px;
    background-color: var(--forth-color);
}
.car-services2{
    height:300px;
    width:100%;
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}
.phone{
    height:130px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-icon{
    height:90px;
    width:90px;
    text-align: center;
    background-color: var(--primary-color);
    animation-duration: 5s;
    animation-name: circle;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes circle{
    0%{
        border-top-right-radius: 0%;
        border-bottom-right-radius:25%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    30%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    60%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:0%; 
        border-top-left-radius:50%; 
    }
    100%{
       border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:50%; 
        border-top-left-radius:0%; 
    }
}
.phone-icon i{
    font-size: 35px;
    line-height: 80px;
    color: var(--fifth-color);
}
.phone-text{
    height:150px;
    width:100%;
    text-align: center;
}
.phone-heading{
    font-size: 27px;
}
.phone-para{
    width:85%;
    padding-left: 39px;
    color: grey;
    line-height: 20px;
    padding-top: 10px;
}
/* cental services section end */




/* vehicle categories start */
.vehicle-categories {
    min-height: 700px;
    width: 100%;
    padding: 60px 0px;
}

.vehicle-top {
    min-height: 230px;
    width: 100%;
    text-align: center;

}

.topic-vehicle {
    color: var(--fifth-color);
    font-size: 50px;
    padding-bottom: 5px;
}

.topic-vehicle span {
    color: var(--primary-color);
    font-size: 50px;
}

.vehicle-para {
    width: 65%;
    margin: auto;
    line-height: 23px;
}

.vehicle-bottom {
    min-height: 600px;
    width: 100%;

}

.vehicle-box {
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding-top: 22px;
    border: 1px solid black;
}

.vehicle-inner {
    height: 550px;
    width: 85%;
    background-color: rgb(239, 239, 239);
    margin: auto;
}
.vehicle-inner:hover{
    box-shadow: 0px 0px 8px var(--primary-color);
}

.vehicle-car {
    height: 200px;
    background-color: rgb(239, 239, 239);
    width: 100%;
}

.vehicle-car img {
    object-fit: cover;
    align-items: center;
    height: 200px;
    width: 90%;
}

.vehicle-topic {
    height: 350px;
    width: 100%;
    background-color: rgb(239, 239, 239);
    padding-top: 7px;
}

.hyundai {
    text-align: center;
    font-size: 25px;
    padding: 5px 0px;
}

.review {
    color: rgb(88, 87, 87);
    text-align: center;
    padding-bottom: 15px;

}

.review i {
    color: var(--secondary-color);
}

.price-box {
    height: 45px;
    width: 85%;
    background-color: var(--forth-color);
    margin: auto;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
}

.price-box span {
    color: var(--primary-color);
    font-size: 25px;
}

.icon-txt {
    height: 50px;
    width: 100%;

    padding-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icon-txt i {
    color: var(--secondary-color);
    font-size: 18px;
}

.icon-txt p {
    color: var(--secondary-color);

    padding-left: 10px;
}

.icon-txt1 {
    height: 50px;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 55px;
    display: flex;
    gap: 22px;
    justify-content: center;
}

.icon-txt1 i {
    color: var(--secondary-color);
    font-size: 18px;
}

.icon-txt1 p {
    color: var(--secondary-color);

    padding-left: 10px;
}

.booking-now {
    background-color: var(--primary-color);
    margin: auto;
    height: 55px;
    width: 85%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-now a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 22px;

}

/* vehicle categories end */



/* cebtal blog news section start */
.cental-blog{
    min-height: 900px;
    width:100%;
    background-color:rgb(239, 239, 239) ;
}
.blog-top{
    height:260px;
    width:100%;
    text-align: center;
}
.blog-heading{
     font-size: 50px;
    padding-top: 90px;
}
.blog-heading span{
    color:var(--primary-color);
}   
.blog-para{
   font-size: 17px;
    line-height: 21px;
    width:80%;
    padding-top: 5px;
    padding-left: 20%; 
}



.blog-bottom{
    height:610px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.blog-rental{
    height:560px;
    width:32%;
    margin: auto;
   background-color:rgb(222, 220, 220) ;
    border-radius: 10px;
}
.blog-img{
    height:260px;
    width:100%;
    position: relative;
}
.blog-img img{
     height:260px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.blog-text{
    height:300px;
    width:100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dec30{
    height:45px;
    width:30%;
    bottom:-25px;
    left:4%;
    border-radius: 5px;
    text-align: center;
    background-color: var(--primary-color);
    position: absolute;
}
.dec30 span{
    color:var(--forth-color);
    line-height: 45px;
}
.martin{
    height:40px;
    width:90%;
    padding: 40px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.martin span{
    color:var(--primary-color);
}
.martin p{
    color:grey;
}
.driving{
    font-size: 28px;
    padding-left: 10px;
    font-weight: 100;
    word-spacing: 4px;
}
.driving:hover{
    color:var(--primary-color);
}
.driving-para{
    padding-top: 10px;
    padding-left: 10px;
    line-height: 22px;
    color:grey ;
}
.read-more{
    color:var(--primary-color);
    font-size: 17px;
    padding-left: 10px;
    padding-top: 25px;
}
.read-more span {
    color:var(--primary-color);
    padding-top: 5px;
}
/* cebtal blog news section end */


/*  rating your car section start  */

.car-images{
    height: 600px;
    width: 100%;
    background-color: #ea001e;
    background-image: url(../images/banner-1.jpg);
    background-position: center;
    background-size: cover;
     margin-top: 30px;
}

.car-opicity{
    height: 600px;
    width: 100%;
    background-color: rgb(10,10,10,0.5);
    
}

.rent-content{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

 .rent-content h4{
    color: var(--primary-color);
    
    padding-right: 15px;
    
    font-size: 28px;

}
.rent-content h3{
    padding-right: 10px;
    font-size: 54px;
    color: white;
}
.rent-content h5{
    padding-right: 10px;
    font-size: 23px;
    color: white;
}
.social{
    height: 50px;
    width: 30%;
    border-radius: 10px;
    
    padding-top:15px;
    display: flex;
}
.whatsapp{
    height: 50px;
    width: 40%;
    background-color: var(--fifth-color);
    border-radius: 40px;
    margin: 5px;
}
.whatsapp a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding-left: 48px;
    font-size: 20px;
}
.contect{
    height: 50px;
    width: 40%;
    background-color: var(--primary-color);
    border-radius: 40px;
    margin: 5px;
}
.contect a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding-left: 48px;
    font-size: 20px;
}
/*  rating your car section end  */



/* contact section start */
.cental-services1{
    min-height: 400px;
    width:100%;
    padding: 60px 0px;
    
}
.services-heading1{
    min-height:100px;
    width:100%;
    text-align: center;
}
.services-hd1{
    font-size: 50px;
   
}
.services-hd1 span{
    color: var(--primary-color);
}
.services-para1{
    font-size: 17px;
    line-height: 15px;
    width:80%;
    padding: 15px;
    padding-left: 20%;
}

.contact-card{
    height: 200px;
    width: 100%;
    
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.contact-social{
    height: 200px;
    width: 22%;
    background-color: rgb(210, 213, 214);
    border-radius: 10px;
}
.contact-icon{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.address{
    height: 75px;
    width: 35%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 5s;
    animation-name: circle;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes circle{
    0%{
        border-top-right-radius: 0%;
        border-bottom-right-radius:25%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    30%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius:35%; 
        border-top-left-radius:50%;
    }
    60%{
        border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:0%; 
        border-top-left-radius:50%; 
    }
    100%{
       border-top-right-radius: 25%;
        border-bottom-right-radius:35%;
        border-bottom-left-radius:50%; 
        border-top-left-radius:0%; 
    }
}

.address i{
color: var(--fifth-color);
font-size: 35px;
}
.contact-text{
    height: 100px;
    width: 100%;
    
}

.contact-text h3{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.contact-text p{
    text-align: center;
    padding-top: 15px;
    font-size: 19px;
}

/* contact section end */

/* map section start */

.newyork-map{
    height: 350px;
    width: 100%;
    
    border-radius: 10px;
    border: 2px solid blue;
}

.newyork-map iframe{
    height: 350px;
    width: 100%;
    border-radius: 10px;
}
/* map section end */




/* clients review start */

.client-review{
    min-height: 540px;
    width: 100%;
    
   
}

.review-top {
    min-height: 230px;
    width: 100%;
    text-align: center;
   
   
}

.heading-review {
    color: var(--fifth-color);
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 5px;
}

.heading-review span {
    color: var(--primary-color);
    font-size: 50px;
}

.heading-para {
    width: 65%;
    margin: auto;
    line-height: 23px;
}
.review-bottom{
    min-height:260px;
    width: 100%;
   
     display:flex;
     justify-content: space-between;
    
}
.person-card{
    height:250px;
    width: 95%;
 
    border:1px solid black;
      border-radius: 10px;
}
.card-top{
    width:100%;
    height:140px;
    background-color: rgb(239, 239, 239);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}
.girl-icon{
    height: 140px;
    width:22%;
     padding-left: 20px;
    padding-top: 20px;
}
.girl-pic{
    height:80px;
    width:80px;
    border-radius: 50%;
   
}
.girl-pic img{
     height:80px;
    width:80px;
    border-radius: 50%;
    object-fit: cover;
}
.girl-detail{
    height: 140px;
    width:78%;
   

}
.girl-detail h3{
    color: black;
    font-size: 25px;
    padding-top: 20px;
    letter-spacing: 1px;
}
.girl-detail p{
    color: rgb(80, 80, 80);
    padding-top:8px;
}
.girl-detail i{
    color: var(--primary-color);
    padding-top:12px;

}
.star i{
    color: grey;
      padding-top:12px;
}
.card-bottom{
    width:100%;
    height:110px;
   
    padding-left: 10px;
    padding-top: 20px;
}


/* clients review end */


/* customer section start */
.customer-support{
    min-height: 740px;
    width: 100%;
  
}
.customer-top {
    min-height: 270px;
    width: 100%;
    text-align: center;
   
}

.heading-customer{
    color: var(--fifth-color);
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 5px;
}

.heading-customer span {
    color: var(--primary-color);
    font-size: 50px;
}

.customer-para{
    width: 65%;
    margin: auto;
    line-height: 23px;
}
.customer-bottom{
    width: 100%;
    height:510px;
    display: flex;
    justify-content: space-between;

}
.team-item{
    height:480px;
    width:24%;
    background-color:rgb(239, 239, 239);
    display: flex;
    padding-left: 12px;
    border-radius: 10px;
    
}
.team-item:hover{
    background-color: var(--fifth-color);
}
.image-div{
    height:320px;
   width:70%;
   position: relative;
   bottom:90px;
   
}
.imae-div img{
   height:320px;
   width:70%;
   object-fit: cover;
  position: absolute;
  border-radius: 30px;

}
.customer-heading{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
}
.pro{
    color:grey;
     text-align: center;
      letter-spacing: 1px;
      padding-top: 5px;
}
.rent-social{
    width:100%;
    height: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.rent-social i{
    color: var(--primary-color);
    font-size: 18px;
}
  
/* customer section end */

/* main section end */



/*  404 section start  */
.pages-404{
    height: 500px;
    width: 100%;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
}

.alert{
    height: 500px;
    width: 50%;
    
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.alert h2{
   font-size: 67px; 
}
.alert h3{
   font-size: 28px; 
   padding-top: 3px;
   font-weight: 90;
   letter-spacing: 1px;
   word-spacing: 1px;
}
.alert p{
    padding: 21px 0px;
    text-align: center;

}

.get-home{
    height: 45px;
    width: 187px;
    background-color: #ea001e;
    border-radius: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.get-home:hover{
    background-color: var(--fifth-color);
    box-shadow: 0px 0px 6px black;
}

.get-home a{
    color: white;
    
}
.alert i{
    font-size: 80px;
    padding-top: 14%;
    color: var(--primary-color);
}


/*  404 section end  */





/* <!--contact-car RESERVATION start--> */
.contact-form1{
    min-height: 385px;
    width: 100%;
    
    margin: 40px 0px;
}
.contacts-form-con{
    background-color: var(--fifth-color);
    width: 43%;
    margin: 40px 0px;
}
.input-text2{
    height:48px;
    width:47%;
    margin:12px 17px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}
.input-text-b{
    height:45px;
    width:93%;
    margin:14px 18px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}
.input-text-m{
    height:108px;
    width:93%;
    margin:3px 17px;
    border-radius: 10px;
    padding: 0px 9px;
    border: none;
}
.btn1{
    height: 45px;
    width: 92%;
    margin: 10px 17px;
    border-radius: 10px;
    padding: 0px 9px;
    border: none;
}
.msg{
    font-size: 20px;
     
    padding: 20px 19px;
    color: var(--primary-color);
}




 /* <!--contact-car RESERVATION end--> */ 

/* footer section start */
.footer1 {
    min-height: 430px;
    width: 100%;
    background-color: var(--fifth-color);
    margin-top: 40px;
}
.foot {
    height: 430px;
    width: 24%;
}
.foot h3 {
    font-size: 27px;
    color: var(--forth-color);
    padding-top: 78px;
    padding-bottom: 15px;
}
.foot p {
    color: var(--secondary-color);
    width: 97%;
    padding: 15px 0px;
    word-spacing: 3px;
    line-height: 27px;
}

.search {
    height: 50px;
    width: 95%;
    position: relative;
}

.search-input {
    height: 50px;
    width: 95%;
}

.search-input input {
    height: 50px;
    width: 95%;
    border-radius: 40px;
    border: 2px solid var(--forth-color);
    padding: 0px 20px;
}

.search .search-btn {
    height: 50px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .search-btn input {
    height: 40px;
    width: 100%;
    border-radius: 40px;
    background: var(--fifth-color);
    border: 0px;
    color:white;
}

.links {
    padding: 15px 0px;
}

.links span {
    padding-left: 5px;
    color: var(--secondary-color);
    transition: all ease 0.2s;
}

.link-list {
    color: var(--secondary-color);
}

.link-list:hover {
    color: red;
    letter-spacing: 1px;

}

.foot i {
    color: var(--secondary-color);
}

.foot h4 {
    color: var(--forth-color);
}

.foot h5 {
    color: var(--secondary-color);
    font-size: 17px;
}

.social-icon1 {
    height: 63px;
    width: 100%;
    display: flex;
    gap: 6px;
}

.social-icon1 .icon {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a4762;
}

.social-icon1 .icon i {
    font-size: 20px;
    color: var(--forth-color)
}

.footer2 {
    height: 80px;
    width: 100%;
    background-color: var(--fifth-color);
    border-top: 1px solid grey;
}

.footer2 h6 {
    font-size: 18px;
    line-height: 80px;
    color: var(--secondary-color);
}

.footer2 a {
    color: var(--forth-color);
    font-size: 18px;
}

/* footer section end */

/*  */