{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- main section start -->
    <!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">About US</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-1">
                <h2 class="cental-heading">
                    <span>Cental</span>
                    About
                </h2>
                <p class="cental-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, esse eaque reprehenderit sequi
                    molestiae architecto odit at
                    esse eaque reprehenderit sequi molestiae architecto odit at repudiandae minima dolores animi.
                    Dolorum, quidem! Maiores quidem.
                </p>
                <div class="our">
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">Lorem ipsum dolor sit amet
                            consectetur, sit amet ipsum dolor sit ame adipisicing elit.</p>
                    </div>
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">Lorem ipsum dolor sit amet
                            consectetur, sit amet ipsum dolor sit amet adipisicing elit.</p>
                    </div>
                </div>
                <p class="about-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste ipsam quod,
                    labore corrupti tempora dignissimos quasi voluptatibus quas, modi deleniti harum esse, ea sunt
                    tempore doloremque recusandae ipsam optio cupiditate. Officia voluptate eveniet quo?</p>
                <div class="experience">
                    <div class="years">
                        <h2 class="number">17</h2>
                        <h3 class="of">Years Of Experience</h3>
                    </div>
                    <div class="years-1">
                        <ul type="none">
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Morbi trishfjf hjdkm dhgj senfhjhfjf</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>A sclertity if gdjf jdkfd puredgh</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Dictom of the dhjf uejd menshn</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Scgeh jkd bdhn dhjd ksjaks id sheghm</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="more-about">
                    <div class="more-btn">
                        <div class="more">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="about-id">
                        <div class="id-pic"></div>
                        <div class="id-name">
                            <h2 class="william">William Burgess</h2>
                            <h5 class="carveo">Carveo Founder</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cental-1">
                <div class="about-img1">
                    <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                </div>
                <!-- <div class="about-img2"> -->
                <!-- <img src="images/about-img-1.jpg" alt="about-img-1"> -->
            </div>
        </div>
        </div>
    </section>
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">829+</h2>
                        <h3 class="happy">Happy Client</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">56+</h2>
                        <h3 class="happy">Numbers of Cars</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">127+</h2>
                        <h3 class="happy">Car Center</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">589+</h2>
                        <h3 class="happy">Total kilometers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental about end -->
    <!-- Booking features start -->
    <section class="cental-features">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking </span>Feature</h2>
            <p class="feature-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis enim
                quibusdam non? Deserunt corporis veniam Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, eos?</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            Find Class Services
                        </h3>
                        <p class="road-assistance">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, similique consectetur
                            iusto quaerat corrupti iure molestiae earum nihil voluptatem ex.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-road"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            24/7 road road-assistance
                        </h3>
                        <p class="road-assistance">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, similique consectetur
                            iusto quaerat corrupti iure molestiae earum nihil voluptatem ex.
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>
            <div class="feature-content-box">
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Quality at Minimum
                            </h3>
                            <p class="road-assistance1">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, similique consectetur
                                iusto quaerat corrupti iure molestiae earum nihil voluptatem ex.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Free Pick-up &Drop Off
                            </h3>
                            <p class="road-assistance1">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, similique consectetur
                                iusto quaerat corrupti iure molestiae earum nihil voluptatem ex.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-map-pin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking features end -->
    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam? Sed
                    sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                    obcaecati animi dolorum nulla.</p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Come in Conatact
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>01.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Choose A Car
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>02.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Enjoy Driving
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>03.</span></div>
                    </div>
                </div>

            </div>
    </section>
    <!-- cental process end -->


    <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                exercitationem
                sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                consectetur
                adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- customer support center end-->

    <!-- ranting your car section start -->

    <section class="overlay">
        <div class="car-images">
            <div class="car-opicity">
                <div class="rent-content">
                    <h4>Rent Your Car</h4>
                    <h3>Interested in renting ?</h3>
                    <h5>Don't hesitate and send us a messgae.</h5>
                    <div class="social">
                        <div class="whatsapp"><a href="#">whtasapp</a></div>
                        <div class="contect"><a href="#">contect us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ranting your car section end -->



    <!-- about section end-->

    {% endblock %}