{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- main section start -->
    <!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">About US</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    
<!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-1">
                <h2 class="cental-heading">
                    <span>Cental</span>
                    About
                </h2>
                <p class="cental-para">

                    Central locking in a car means that when you lock or unlock one door, all the doors lock or unlock
                    together. You can do this using a key, remote, or button. It makes using the car easier and safer.


                </p>
                <div class="our">
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">
                            The vision for future car features revolves around enhanced safety, increased autonomy.
                        </p>
                    </div>
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Misiion</h3>
                        <p class="our-para">
                            A car company's mission for features centers on customer-centric innovation, blending.
                        </p>
                    </div>
                </div>
                <p class="about-para1">

                    A car is a vehicle that has wheels, carries a small number of passengers, and is moved by an engine
                    or a motor. Cars are also called automobiles or motor vehicles. Trucks and buses are motor vehicles
                    as well.
                </p>
                <div class="experience">
                    <div class="years">
                        <h2 class="number">17</h2>
                        <h3 class="of">Years Of Experience</h3>
                    </div>
                    <div class="years-1">
                        <ul type="none">
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>
                                    Comfort and Convenience Features.
                                </span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Safety Features for Peace of Mind.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Infotainment and Connectivity.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Comfort and Convenience Features.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="more-about">
                    <div class="more-btn">
                        <div class="more">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="about-id">
                        <div class="id-pic"></div>
                        <div class="id-name">
                            <h2 class="william">William Burgess</h2>
                            <h5 class="carveo">Carveo Founder</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cental-1">
                <div class="about-img1">
                    <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                </div>
                <div class="about-img2">
                    <img src="static/images/about-img-1.jpg" alt="about-img-1">
                </div>
            </div>
        </div>
    </section>
    <!-- cental about end -->

<!-- cental about start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">829+</h2>
                        <h3 class="happy">Happy Client</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">56+</h2>
                        <h3 class="happy">Numbers of Cars</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">127+</h2>
                        <h3 class="happy">Car Center</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">589+</h2>
                        <h3 class="happy">Total kilometers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental about end -->


    <!-- cental feature start -->
    <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">A central feature of a car is its engine, which serves as the heart of the
                vehicle. The engine converts fuel (such as petrol, diesel, or electricity in electric cars) into energy
                that powers the car and allows it to move.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">At that time, cars were new and often unreliable, so they required
                            frequent maintenance and repairs.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Central Car offers 24/7 road assistance as an important service for
                            all its customers. This means help is available any time of the day or night, every day of
                            the year, whether it's early morning. </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>


            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">At a minimum, a good-quality car should provide essential safety,
                            reliability, comfort, and practicality. Safety features are the most important and should
                            include at least driver and front passenger airbags, ABS with EBD.
                        </p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">this is for your car is a service many modern
                            workshops & car-servicing companies offer so you don't have to drive your car to the
                            garage yourself they collect your car from your home, service or repair it.
                        </p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->
    
    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">

                    The "central process for a car" can refer to three main areas, which are outlined in simple terms below: the manufacturing process, how the engine works, and how to drive a car. 
                    </p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Come in Contact
                        </h2>
                        <p class="inform-para">
                           Contact local law enforcement or a car helpline service in your area.
                        </p>
                        <div class="about3-gola"><span>01.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Choose A Car
                        </h2>
                        <p class="inform-para">
                            Decide if you want to lease or buy.
                        </p>
                        <div class="about3-gola"><span>02.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Enjoy Driving
                        </h2>
                        <p class="inform-para">
                            Master your car's basics, listen to music/podcasts, find pleasant routes (like scenic or quiet roads).
                        </p>
                        <div class="about3-gola"><span>03.</span></div>
                    </div>
                </div>

            </div>
    </section>
    <!-- cental process end -->


    <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">
                Empathy is a cornerstone of great customer support. Actively listening to customers helps ensure that their concerns are fully understood before offering solutions. Demonstrating understanding and compassion can diffuse tense situations and create a more positive experience.
            </p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer support center end-->


    <!-- ranting your car section start -->

    <section class="overlay">
        <div class="car-images">
            <div class="car-opicity">
                <div class="rent-content">
                    <h4>Rent Your Car</h4>
                    <h3>Interested in renting ?</h3>
                    <h5>Don't hesitate and send us a messgae.</h5>
                    <div class="social">
                        <div class="whatsapp"><a href="#">whtasapp</a></div>
                        <div class="contect"><a href="#">contect us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ranting your car section end -->



    <!-- about section end-->

    {% endblock %}