{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="social-icon">
                    <div class="app-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="location">
                    <a href="#"> <i class="fa-solid fa-location-dot"></i>Find A Location</a>
                    <a href="tel us:+01253836484"><i class="fa-solid fa-phone"></i>+01253836484</a>
                    <a href="mail to:Example@gamil.com"><i class="fa-solid fa-envelope"></i>Example@gamil.com</a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="cental">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>
                        Booking
                    </a>
                </div>
                <div class="navbar">
                    <nav>
                        <a href="index.html">Home</a>
                        <a href="about.html">About</a>
                        <a href="service.html">Service</a>
                        <a href="blog.html">Blog</a>
                        <a href="pages.html">Pages</a>
                        <a href="contact.html">Contact</a>
                    </nav>
                </div>
                <div class="get">
                    <a href="index.html">Get Started</a>
                </div>
            </div>
        </div>
    </header>

    <!-- header section end --> 
     
    

<!-- our service section start -->
    
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Blog & News</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Service</span>
            </div>
        </div>
        </div>
    </section>
    
     <!-- our service section end -->



     <!-- cental blog news section start -->
        <section class="cental-blog">
            <div class="blog-top">
                <h2 class="blog-heading">Cental
                    <span>Blog & News</span>
                </h2>
                <p class="blog-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam? Sed
                    sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                    obcaecati animi dolorum nulla.</p>
            </div>

            <div class="overlay">
                <div class="blog-bottom">
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-1.jpg' %}" alt="blog-1">
                            <div class="dec30">
                                <span>30 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving">Rental Cars how to check
                                driving fines?
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in alias,
                                quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-2.jpg' %}" alt="blog">
                            <div class="dec30">
                                <span>25 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Rental cost of sport and other
                                cars
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in
                                alias,nulla blanditiis quisquam, ex ut quis quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-3.jpg' %}" alt="blog-3">
                            <div class="dec30">
                                <span>27 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Document required for car rental
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum,nulla blanditiis quisquam,
                                ex ut
                                quis tenetur ullam rem in alias, quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- cental blog news section end -->

        <!-- number section start -->
        <section class="about3">
            <div class="about3-inner">
                <div class="overlay">
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">829+</h2>
                            <h3 class="happy">Happy Client</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">56+</h2>
                            <h3 class="happy">Numbers of Cars</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">127+</h2>
                            <h3 class="happy">Car Center</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">589+</h2>
                            <h3 class="happy">Total kilometers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- number section end -->


        <!-- ranting your car section start -->

        <section class="overlay">
            <div class="car-images">
                <div class="car-opicity">
                    <div class="rent-content">
                        <h4>Rent Your Car</h4>
                        <h3>Interested in renting ?</h3>
                        <h5>Don't hesitate and send us a messgae.</h5>
                        <div class="social">
                            <div class="whatsapp"><a href="#">whtasapp</a></div>
                            <div class="contect"><a href="#">contect us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ranting your car section end -->

    <!--footer secction start  -->
    <footer>
        <div class="footer1">
            <div class="overlay">
                <div class="foot">
                    <h3>About Us</h3>
                    <p>Dolors amet sit justo amet Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Quo
                        eum corporis minima quidem expedita reprehe
                        dolor sit amet consectetur adipisicing elit. Quo
                        nderit, delectus iure tenetur quasi.</p>
                    <div class="search">
                        <div class="search-input">
                            <input type="email" placeholder="Enter Your Email">
                        </div>
                        <div class="search-btn">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <h3>Quick Links</h3>
                    <ul type="none">
                        <li class="links"><a class="link-list" href="about.html"><i
                                    class="fa-solid fa-angle-right"></i><span>About</span></a></li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Cars</span></a></li>
                        <li class="links"> <a href="#"><i class="fa-solid fa-angle-right"></i><span>Team</span></a></li>
                        <li class="links"><a href="contact.html"><i class="fa-solid fa-angle-right"></i><span>Contact
                                    us</span></a>
                        </li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Terms &
                                    Conditions</span></a></li>
                    </ul>
                </div>
                <div class="foot">
                    <ul type="none">
                        <h3>Business Hours:</h3>
                        <li class="links">
                            <h5>Mon-Friday</h5>
                            <h4>09.00am to 07.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Saturday:</h5>
                            <h4>10.00am to 05.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Vaction:</h5>
                            <h4>All Sunday is our Vaction</h4>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <h3>Contact Info</h3>
                    <ul type="none">

                        <li class="links"><a href="#"><i class="fa-solid fa-location-dot left-sign"></i><span>
                                    123Street,New York,USA</span></a></li>
                        <li class="links"><a href="mail to:info@example.com"><i
                                    class="fa-solid fa-envelope left-sign"></i><span>
                                    info@example.com</span></a></li>

                        <li class="links"><a href="tel us:+0152636732"><i class="fa-solid fa-phone left-sign"></i><span>
                                    +0152636732</span></a>
                        </li>

                        <li class="links"> <a href="#"> <i class="fa-solid fa-print left-sign"></i><span>
                                    +0272837384</span></a></li>
                        <li class="links">
                            <div class="social-icon1">

                                <div class="icon"><i class="fa-brands fa-facebook-f"></i> </div>
                                <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
                                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                                <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="overlay">
                <div>
                    <h6>©
                        <a href="#">Car Booking</a>
                        All Rights Reserved
                    </h6>
                </div>
                <div>
                    <h6>
                        Designed by:
                        <a href="#">Vandana Yadav</a>
                        Distributed by:
                        <a href="#">Mr. Sudhakar Maurya</a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>
    <!--footer secction end  -->
     </body>
</html>