{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Cars</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Categories</span>
            </div>
        </div>
        </div>
    </section>
    <!-- about end -->


<!-- cental services section start -->
    <section class="cental-services">
        <div class="services-heading">
            <h2 class="services-hd"><span>Cental</span> Services</h2>
            <p class="services-para">
                
                A full service of a vehicle typically includes an oil and filter change, a visual inspection of fluid levels and components, a wheel alignment check, a brake inspection, and an inspection of the air filter and other filters.
            </p>
        </div>
        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Phone Reservation
                            </h3>
                            <p class="phone-para">
                                To book a car by phone, you can call local agencies listed on platforms like Justdial for Lucknow.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-rectangle-list"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Special Rate
                            </h3>
                            <p class="phone-para">
                               The lowest-priced car in India is the Vayve Mobility Eva, priced between Rs. 3.25 - 4.49 Lakh.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-road"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                On Way Rantel
                            </h3>
                            <p class="phone-para">
                                Booking car rentals with Expedia makes it easy to find the right rental and book the rest of your trip in a single, convenient location. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="car-services2">
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-umbrella"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Life Insurance
                            </h3>
                            <p class="phone-para">
                                Insurance is a contract between an individual or business with an insurance company to help provide financial protection and mitigate the risks associated with certain situations or events.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                City to City
                            </h3>
                            <p class="phone-para">
                                A city will typically be larger than a town and have multiple places of worship and several meeting points.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Free Rides
                            </h3>
                            <p class="phone-para">
                                when one firm (or individual) benefits from the actions and efforts of another without paying or sharing the costs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental services section end -->


<!-- cental process start -->
        <section class="cental-process">
            <div class="process-inner">
                <div class="process-heading">
                    <h2 class="cental-heading"><span>Cental</span>Process</h2>
                    <p class="process-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam?
                        Sed
                        sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                        obcaecati animi dolorum nulla.</p>
                </div>
                <div class="overlay">
                    <div class="process-information">
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Come in Conatact
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>01.</span></div>
                        </div>
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Choose A Car
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>02.</span></div>
                        </div>
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Enjoy Driving
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>03.</span></div>
                        </div>
                    </div>

                </div>
        </section>
        <!-- cental process end -->


      <!-- ranting your car section start -->
         <section class="overlay">
            <div class="car-images">
                <div class="car-opicity">
                    <div class="rent-content">
                        <h4>Rent Your Car</h4>
                        <h3>Interested in renting ?</h3>
                        <h5>Don't hesitate and send us a messgae.</h5>
                        <div class="social">
                            <div class="whatsapp"><a href="#">whtasapp</a></div>
                            <div class="contect"><a href="#">contect us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ranting your car section end --> 

{% endblock %}