
{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    <!-- our service section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Contact Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Service</span>
            </div>
        </div>
        </div>
    </section>
    <!-- our service section end -->

    <section class="cental-services1">

        <!-- contact section start -->
        <div class="services-heading1">
            <h2 class="services-hd1"><span>Contacts Us</span> </h2>
            <p class="services-para1">
                Start with a brief introduction that summarises your experience. Then, provide specific details about what you liked or didn't like.Use paragraphs to separate different points and make sure to proofread your review for any spelling or grammar mistakes.
            </p>
        </div>
        <div class="overlay">
            <div class="contact-card">
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Address</h3>
                        <p>Ayodhya, Utter Pradesh</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Mail Us</h3>
                        <p>2005vandanayadav@gmail.com</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Telephone</h3>
                        <p>9120236191</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Carbooking</h3>
                        <p>7390075070</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- contact section end -->



    <!--contact-car RESERVATION start-->

    <section class="overlay">
        <div class="contact-form1">

        
                            
                            <form class="contacts-form-con" method="POST" action="{% url 'home' %}">
                                 {% csrf_token %}
                                 <h3 class="msg">Send Your Message</h3>
                           
                                
                            <div class="text-outer">
                            <input class="input-text2" type="text" name="your name" placeholder="your name">
                            <input class="input-text2" type="Email" name="email" placeholder="Your email">
                            </div>
                            <div class="text-outer">
                            <input class="input-text2" type="text" name="your phone" placeholder="your phone">
                            <input class="input-text2" type="text" name="your projects" placeholder="you projects">
                            </div>

                            <input class="input-text-b" type="text" name="subjects" placeholder="subjects">
                            <input class="input-text-m" type="text" name="msg" placeholder="Messages">
                        <button class="btn1" class="text-outer" type="submit"><span>Book Now</span></button>
                            </form>
                            </div>

    </section>

    <!--contact-car RESERVATION end-->


    <!-- map section start -->
    <section class="overlay">
        <div class="newyork-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1806880.1502668548!2d78.69475682661994!3d27.80783797230618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAyodhya%20mandir!5e0!3m2!1sen!2sin!4v1765859553914!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- map section end -->

    {% endblock %}