{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="social-icon">
                    <div class="app-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="location">
                    <a href="#"> <i class="fa-solid fa-location-dot"></i>Find A Location</a>
                    <a href="tel us:+01253836484"><i class="fa-solid fa-phone"></i>+01253836484</a>
                    <a href="mail to:Example@gamil.com"><i class="fa-solid fa-envelope"></i>Example@gamil.com</a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="cental">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>
                        Booking
                    </a>
                </div>
                <div class="navbar">
                    <nav>
                        <a href="index.html">Home</a>
                        <a href="about.html">About</a>
                        <a href="service.html">Service</a>
                        <a href="blog.html">Blog</a>
                        <a href="pages.html">Pages</a>
                        <a href="contact.html">Contact</a>
                    </nav>
                </div>
                <div class="get">
                    <a href="index.html">Get Started</a>
                </div>
            </div>
        </div>
    </header>

    <!-- header section end -->


    <!-- our service section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Contact Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Service</span>
            </div>
        </div>
        </div>
    </section>
    <!-- our service section end -->

    <section class="cental-services1">

        <!-- contact section start -->
        <div class="services-heading1">
            <h2 class="services-hd1"><span>Contacts Us</span> </h2>
            <p class="services-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nemo quaerat
                velit
                quis, pariatur sint fugiat libero quo natus adipisci inventore,adipisicing elit. Eius nemo quaerat
                velit
                quis, pariatur sint fugiat quae obcaecati? Suscipit, mollitia?</p>
        </div>
        <div class="overlay">
            <div class="contact-card">
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Address</h3>
                        <p>123 Street New York.USA</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Mail Us</h3>
                        <p>2005vandanayadav@gmail.com</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>Telephone</h3>
                        <p>(+121)345670</p>
                    </div>
                </div>
                <div class="contact-social">
                    <div class="contact-icon">
                        <div class="address">
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h3>carbooking</h3>
                        <p>(+121)345670</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- contact section end -->




    





    <!-- map section start -->
    <section class="overlay">
        <div class="newyork-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1806880.1502668548!2d78.69475682661994!3d27.80783797230618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAyodhya%20mandir!5e0!3m2!1sen!2sin!4v1765859553914!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- map section end -->

    <!--footer secction start  -->
    <footer>
        <div class="footer1">
            <div class="overlay">
                <div class="foot">
                    <h3>About Us</h3>
                    <p>Dolors amet sit justo amet Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Quo
                        eum corporis minima quidem expedita reprehe
                        dolor sit amet consectetur adipisicing elit. Quo
                        nderit, delectus iure tenetur quasi.</p>
                    <div class="search">
                        <div class="search-input">
                            <input type="email" placeholder="Enter Your Email">
                        </div>
                        <div class="search-btn">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <h3>Quick Links</h3>
                    <ul type="none">
                        <li class="links"><a class="link-list" href="about.html"><i
                                    class="fa-solid fa-angle-right"></i><span>About</span></a></li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Cars</span></a></li>
                        <li class="links"> <a href="#"><i class="fa-solid fa-angle-right"></i><span>Team</span></a></li>
                        <li class="links"><a href="contact.html"><i class="fa-solid fa-angle-right"></i><span>Contact
                                    us</span></a>
                        </li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Terms &
                                    Conditions</span></a></li>
                    </ul>
                </div>
                <div class="foot">
                    <ul type="none">
                        <h3>Business Hours:</h3>
                        <li class="links">
                            <h5>Mon-Friday</h5>
                            <h4>09.00am to 07.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Saturday:</h5>
                            <h4>10.00am to 05.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Vaction:</h5>
                            <h4>All Sunday is our Vaction</h4>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <h3>Contact Info</h3>
                    <ul type="none">

                        <li class="links"><a href="#"><i class="fa-solid fa-location-dot left-sign"></i><span>
                                    123Street,New York,USA</span></a></li>
                        <li class="links"><a href="mail to:info@example.com"><i
                                    class="fa-solid fa-envelope left-sign"></i><span>
                                    info@example.com</span></a></li>

                        <li class="links"><a href="tel us:+0152636732"><i class="fa-solid fa-phone left-sign"></i><span>
                                    +0152636732</span></a>
                        </li>

                        <li class="links"> <a href="#"> <i class="fa-solid fa-print left-sign"></i><span>
                                    +0272837384</span></a></li>
                        <li class="links">
                            <div class="social-icon1">

                                <div class="icon"><i class="fa-brands fa-facebook-f"></i> </div>
                                <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
                                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                                <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="overlay">
                <div>
                    <h6>©
                        <a href="#">Car Booking</a>
                        All Rights Reserved
                    </h6>
                </div>
                <div>
                    <h6>
                        Designed by:
                        <a href="#">Vandana Yadav</a>
                        Distributed by:
                        <a href="#">Mr. Sudhakar Maurya</a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>
    <!--footer secction end  -->
</body>

</html>