{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Feature</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Feature</span>
            </div>
        </div>
        </div>
    </section>
    <!-- about end -->

    
 <!-- cental blog news section start -->
    <section class="cental-blog">
        <div class="blog-top">
            <h2 class="blog-heading">Cental
                <span>Blog & News</span>
            </h2>
            <p class="blog-para">
                This site provides news, reviews, buying guides, and commentary with a focus on comprehensive coverage and high-quality visuals. The content is generally accessible and designed for a broad audience.
            </p>
        </div>

        <div class="overlay">
            <div class="blog-bottom">
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-1.jpg' %}" alt="blog-1">
                        <div class="dec30">
                            <span>30 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving">Rental Cars how to check
                            driving fines?
                        </h2>
                        <p class="driving-para">
                           Major rental agencies often install GPS trackers in cars to monitor mileage, vehicle location, and overall health. These systems help with fleet logistics,  theft prevention, and in some cases, to enforce geographic restrictions stated in your rental agreement.
                        </p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-2.jpg' %}" alt="blog">
                        <div class="dec30">
                            <span>25 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving"> Rental cost of sport and other
                            cars
                        </h2>
                        <p class="driving-para">
                            The Chase Sapphire Preferred® Card provides primary rental car coverage with reimbursement up to the cash value of most rental vehicles. Booking a car rental through Chase earns 5 points per dollar spent. You can also redeem points to book travel through Chase  — and get more value per point.
                        </p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-3.jpg' %}" alt="blog-3">
                        <div class="dec30">
                            <span>27 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving"> Document required for car rental
                        </h2>
                        <p class="driving-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                            blanditiis quisquam, ex ut quis voluptates animi voluptatum,nulla blanditiis quisquam,
                            ex ut
                            quis tenetur ullam rem in alias, quae officia.
                        </p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- cental blog news section end -->




<!-- number section start -->
        <section class="about3">
            <div class="about3-inner">
                <div class="overlay">
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">829+</h2>
                            <h3 class="happy">Happy Client</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">56+</h2>
                            <h3 class="happy">Numbers of Cars</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">127+</h2>
                            <h3 class="happy">Car Center</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">589+</h2>
                            <h3 class="happy">Total kilometers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- number section end -->


        <!-- ranting your car section start -->
         <section class="overlay">
            <div class="car-images">
                <div class="car-opicity">
                    <div class="rent-content">
                        <h4>Rent Your Car</h4>
                        <h3>Interested in renting ?</h3>
                        <h5>Don't hesitate and send us a messgae.</h5>
                        <div class="social">
                            <div class="whatsapp"><a href="#">whtasapp</a></div>
                            <div class="contect"><a href="#">contect us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ranting your car section end -->


{% endblock %}