{% load static %}
<!--footer secction start  -->
    <footer>
        <div class="footer1">
            <div class="overlay">
                <div class="foot">
                    <h3>About Us</h3>
                    <p>Dolors amet sit justo amet Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Quo
                        eum corporis minima quidem expedita reprehe
                        dolor sit amet consectetur adipisicing elit. Quo
                        nderit, delectus iure tenetur quasi.</p>
                    <div class="search">
                        <div class="search-input">
                            <input type="email" placeholder="Enter Your Email">
                        </div>
                        <div class="search-btn">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <h3>Quick Links</h3>
                    <ul type="none">
                        <li class="links"><a class="link-list" href="about.html"><i
                                    class="fa-solid fa-angle-right"></i><span>About</span></a></li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Cars</span></a></li>
                        <li class="links"> <a href="#"><i class="fa-solid fa-angle-right"></i><span>Team</span></a></li>
                        <li class="links"><a href="contact.html"><i class="fa-solid fa-angle-right"></i><span>Contact
                                    us</span></a>
                        </li>
                        <li class="links"><a href="#"><i class="fa-solid fa-angle-right"></i><span>Terms &
                                    Conditions</span></a></li>
                    </ul>
                </div>
                <div class="foot">
                    <ul type="none">
                        <h3>Business Hours:</h3>
                        <li class="links">
                            <h5>Mon-Friday</h5>
                            <h4>09.00am to 07.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Saturday:</h5>
                            <h4>10.00am to 05.00pm</h4>
                        </li>
                        <li class="links">
                            <h5>Vaction:</h5>
                            <h4>All Sunday is our Vaction</h4>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <h3>Contact Info</h3>
                    <ul type="none">

                        <li class="links"><a href="#"><i class="fa-solid fa-location-dot left-sign"></i><span>
                                    Ayodhya, Utter Pradesh</span></a></li>
                        <li class="links"><a href="mail to:2005vandanayadav@gmail.com"><i
                                    class="fa-solid fa-envelope left-sign"></i><span>
                                    2005vandanayadav@gmail.com</span></a></li>

                        <li class="links"><a href="tel us:+0152636732"><i class="fa-solid fa-phone left-sign"></i><span>
                                    +0152636732</span></a>
                        </li>

                        <li class="links"> <a href="#"> <i class="fa-solid fa-print left-sign"></i><span>
                                    9120236191</span></a></li>
                        <li class="links">
                            <div class="social-icon1">

                                <div class="icon"><i class="fa-brands fa-facebook-f"></i> </div>
                                <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
                                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                                <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="overlay">
                <div>
                    <h6>©
                        <a href="#">Car Booking</a>
                        All Rights Reserved
                    </h6>
                </div>
                <div>
                    <h6>
                        Designed by:
                        <a href="#">Vandana Yadav</a>
                        Distributed by:
                        <a href="#">Mr. Sudhakar Maurya</a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>
    <!--footer secction end  -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

    
</body>

</html>