{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cental Blog & News in a car center</title>
    <link rel="icon" href="{% static 'images/fav.svg' %}">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="social-icon">
                    <div class="app-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="location">
                    <a href="#"> <i class="fa-solid fa-location-dot"></i>Find A Location</a>
                    <a href="tel us:+01253836484"><i class="fa-solid fa-phone"></i>+01253836484</a>
                    <a href="mail to:Example@gamil.com"><i class="fa-solid fa-envelope"></i>Example@gamil.com</a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="cental">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>
                        Booking
                    </a>
                </div>
                <div class="navbar">
                    <nav>

                        <ul class="nav-list">
                    <a href="{% url 'home' %}">
                        <li>Home</li>
                    </a>
                    <a href="{% url 'about' %}">
                        <li>About</li>
                    </a>
                    <a href="{% url 'service' %}">
                        <li>Services</li>
                    </a>
                    <a href="{% url 'blog' %}">
                        <li>Blog</li>
                    </a>
                    
                    
                        <li>Pages
                            <ul>
                                <a href="{% url 'feature' %}"><li>Our Feature</li></a>
                                 <a href="{% url 'car' %}"><li>Our cars</li></a>
                                <a href="{% url 'team' %}"><li>Our Team</li></a>
                                <a href="{% url 'testimonial' %}"><li>Testimonial</li></a>
                                <a href="{% url 'numpages' %}"><li>404</li></a>
                            </ul>
                        </li>
                   
                    <a href="{% url 'contact' %}">
                        <li>Contacts</li>
                    </a>
                </ul>




                    </nav>
                </div>
                <div class="get">
                    <a href="index.html">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->