{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="social-icon">
                    <div class="app-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="app-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="location">
                    <a href="#"> <i class="fa-solid fa-location-dot"></i>Find A Location</a>
                    <a href="tel us:+01253836484"><i class="fa-solid fa-phone"></i>+01253836484</a>
                    <a href="mail to:Example@gamil.com"><i class="fa-solid fa-envelope"></i>Example@gamil.com</a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="cental">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>
                        Booking
                    </a>
                </div>
                <div class="navbar">
                    <nav>

                        <ul>
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="About.html">
                        <li>About</li>
                    </a>
                    <a href="Service.html">
                        <li>Services</li>
                    </a>
                    <a href="Blog.html">
                        <li>Blog</li>
                    </a>
                    
                    <a href="Pages.html">
                        <li>Pages
                            <ul>
                                <a href="feature.html"><li>Our Feature</li></a>
                                
                                <a href="car.html"><li>Our cars</li></a>
                                <a href="team.html"><li>Our Team</li></a>
                                <a href="testimonial.html"><li>Testimonial</li></a>
                                <a href="404_pages.html"></a><li>404 Page</li>
                            </ul>
                        </li>
                    </a>
                    <a href="https://themewagon.github.io/eNno/#contact">
                        <li>Contacts</li>
                    </a>
                </ul>




                    </nav>
                </div>
                <div class="get">
                    <a href="index.html">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->