{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main section start -->
<main>
    <!-- hero section start -->
    <section class="hero">
        <div class="inner">
            <div class="overlay">
                <div class="hero-main">
                    <div class="hero-content">
                        <h1>Get 15% off your rental
                            plan your trip now
                        </h1>
                        <h5>Treat yourself in USA</h5>
                    </div>
                    <div class="hero-form">
                        <div class="car-form">
                            <h3>CONTINUE CAR RESERVATION</h3>
                            <form method="POST" action="{% url 'home' %}">
                                 {% csrf_token %}
                           <select name="car_type" class="input-text">
                            <option value="">select your cars type<option/>
                            <option value="SUV">SUV<option/>
                                <option value="Sedan">Sedan<option/>
                                </select>
                                <input class="input-text" type="text" name="pickup_location" placeholder="Pick Up Location">
                            <input class="input-text" type="text" name="drop_location" placeholder="Drop off Location">
                            <div class="text-outer">
                            <input class="input-text1" type="date" name="pickup_date" placeholder="Pick Up Date">
                            <input class="input-text1" type="time" name="pickup_time">
                            </div>
                            <div class="text-outer">
                            <input class="input-text1" type="date" name="drop_date" placeholder="Drop Date">
                            <input class="input-text1" type="time" name="drop_time">
                            </div>
                        <button class="btn" class="text-outer" type="submit"><span>Book Now</span></button>
                            </form>

                </div>
            </div>
        </div>

        </div>
        </div>
    </section>
    <!-- hero section end -->


    <!-- cental feature start -->
    <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">A central feature of a car is its engine, which serves as the heart of the
                vehicle. The engine converts fuel (such as petrol, diesel, or electricity in electric cars) into energy
                that powers the car and allows it to move.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">At that time, cars were new and often unreliable, so they required
                            frequent maintenance and repairs.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Central Car offers 24/7 road assistance as an important service for
                            all its customers. This means help is available any time of the day or night, every day of
                            the year, whether it's early morning. </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>


            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">At a minimum, a good-quality car should provide essential safety,
                            reliability, comfort, and practicality. Safety features are the most important and should
                            include at least driver and front passenger airbags, ABS with EBD.
                        </p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">this is for your car is a service many modern
                            workshops & car-servicing companies offer so you don't have to drive your car to the
                            garage yourself they collect your car from your home, service or repair it.
                        </p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->


    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-1">
                <h2 class="cental-heading">
                    <span>Cental</span>
                    About
                </h2>
                <p class="cental-para">

                    Central locking in a car means that when you lock or unlock one door, all the doors lock or unlock
                    together. You can do this using a key, remote, or button. It makes using the car easier and safer.


                </p>
                <div class="our">
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">
                            The vision for future car features revolves around enhanced safety, increased autonomy.
                        </p>
                    </div>
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Misiion</h3>
                        <p class="our-para">
                            A car company's mission for features centers on customer-centric innovation, blending.
                        </p>
                    </div>
                </div>
                <p class="about-para1">

                    A car is a vehicle that has wheels, carries a small number of passengers, and is moved by an engine
                    or a motor. Cars are also called automobiles or motor vehicles. Trucks and buses are motor vehicles
                    as well.
                </p>
                <div class="experience">
                    <div class="years">
                        <h2 class="number">17</h2>
                        <h3 class="of">Years Of Experience</h3>
                    </div>
                    <div class="years-1">
                        <ul type="none">
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>
                                    Comfort and Convenience Features.
                                </span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Safety Features for Peace of Mind.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Infotainment and Connectivity.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Comfort and Convenience Features.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="more-about">
                    <div class="more-btn">
                        <div class="more">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="about-id">
                        <div class="id-pic"></div>
                        <div class="id-name">
                            <h2 class="william">William Burgess</h2>
                            <h5 class="carveo">Carveo Founder</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cental-1">
                <div class="about-img1">
                    <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                </div>
                <div class="about-img2">
                    <img src="static/images/about-img-1.jpg" alt="about-img-1">
                </div>
            </div>
        </div>
    </section>
    <!-- cental about end -->



    <!-- number section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                 {% for n in num_show %}
                <div class="about3-features">
                   
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="{{n.num_icon}}"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">{{n.num_counter}}</h2>
                        <h3 class="happy">{{n.num_title}}</h3>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- number section end -->



    <!-- cental services section start -->
    <section class="cental-services">
        <div class="services-heading">
            <h2 class="services-hd"><span>Cental</span> Services</h2>
            <p class="services-para">
                
                A full service of a vehicle typically includes an oil and filter change, a visual inspection of fluid levels and components, a wheel alignment check, a brake inspection, and an inspection of the air filter and other filters.
            </p>
        </div>
        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    {% for s in service_show %}
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="{{s.ser_icon}}"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                {{s.ser_title}}
                              
                            </h3>
                            <p class="phone-para">
                                {{s.ser_desc}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </div>
        </div>
    </section>
    <!-- cental services section end -->



    <!-- vehicle categories start-->
    <section class="vehicle-categories">
        <div class="vehicle-top">
            <h3 class="topic-vehicle">Vehicle<span> Categories</span></h3>
            <p class="vehicle-para">In a car centre, vehicle categories help organize the types of vehicles they
                service, rent, or sell based on size, purpose, and features.Luxury cars
                provide premium features and superior comfort, while electric vehicles require specialized servicing for
                their battery systems.</p>
        </div>
        <div class="vehicle-bottom">
            <div class="overlay owl-carousel owl-theme" id="vehicle">
                {% for c in vehicle_show %}
                <div class="vehicle-box">
                    <div class="vehicle-inner">
                        <div class="vehicle-car">
                            <img src="{{c.vehicle_image}}" alt="car-4">
                        </div>
                        <div class="vehicle-topic">
                            <h4 class="hyundai">
                                {{ c.vehicle_title }}
                            </h4>
                            <p class="review">4.8 Review
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="price-box">
                                <span>{{ c.vehicle_rate }}</span>
                            </div>
                            <div class="icon-txt">
                                <P><i class="fa-solid fa-users"></i>4Seat</P>
                                <P><i class="fa-solid fa-car"></i>AT/MT</P>
                                <P><i class="fa-solid fa-gas-pump"></i>Petrol</P>
                            </div>
                            <div class="icon-txt1">
                                <P><i class="fa-solid fa-car"></i>2015</P>
                                <P><i class="fa-solid fa-gears"></i>AUTO</P>
                                <P><i class="fa-solid fa-road"></i>27K</P>
                            </div>

                            <div class="booking-now">
                                <a href="#">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- vehicle categories end-->


    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">

                    The "central process for a car" can refer to three main areas, which are outlined in simple terms below: the manufacturing process, how the engine works, and how to drive a car. 
                    </p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    {% for cp in centalProcess_show %}
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            {{ cp.pro_title }}
                        </h2>
                        <p class="inform-para">
                          {{ cp.pro_desc }}
                        </p>
                        <div class="about3-gola"><span>{{ cp.pro_number }}</span></div>
                    </div>

                   
                    {% endfor %}
                </div>

            </div>
    </section>
    <!-- cental process end -->



    <!-- cental blog news section start -->
    <section class="cental-blog">
        <div class="blog-top">
            <h2 class="blog-heading">Cental
                <span>Blog & News</span>
            </h2>
            <p class="blog-para">
                This site provides news, reviews, buying guides, and commentary with a focus on comprehensive coverage and high-quality visuals. The content is generally accessible and designed for a broad audience.
            </p>
        </div>

        <div class="overlay">
            <div class="blog-bottom">
                {% for b in blog_show %}
                <div class="blog-rental">
                    <div class="blog-img">

                        <img src="{{ b.blog_image.url }}" alt="blog-1">
                        <div class="dec30">
                            <span>
                                {{ b.blog_date }}
                            </span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> {{ b.blog_author }}</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> {{ b.blog_comment }}</p>
                        </div>
                        <h2 class="driving">
                            {{ b.blog_title }}
                        </h2>
                        <p class="driving-para">
                           {{ b.blog_desc }}
                        </p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <!-- cental blog news section end -->



    <!-- ranting your car section start -->
    <section class="overlay">
        <div class="car-images">
            <div class="car-opicity">
                <div class="rent-content">
                    <h4>Rent Your Car</h4>
                    <h3>Interested in renting ?</h3>
                    <h5>Don't hesitate and send us a messgae.</h5>
                    <div class="social">
                        <div class="whatsapp"><a href="#">whtasapp</a></div>
                        <div class="contect"><a href="#">contect us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ranting your car section end -->


    <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review">Our Clients <span>Review</span></h3>
            <p class="heading-para">
                A customer review, include specific details about the products or services you used. Describe what you liked or disliked, mention any issues you encountered and share your experiences honestly. 
            </p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme" id="review">
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>
                          Include specific details about the products or services you used. Describe what you liked or disliked, mention any issues you encountered, and share your experiences honestly.  
                        </p>
                    </div>
                </div>
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>
                           Include specific details about the products or services you used. Describe what you liked or disliked, mention any issues you encountered, and share your experiences honestly.   
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->

    <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">
                Empathy is a cornerstone of great customer support. Actively listening to customers helps ensure that their concerns are fully understood before offering solutions. Demonstrating understanding and compassion can diffuse tense situations and create a more positive experience.
            </p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer support center end-->

</main>
<!-- main section end -->

{% endblock %}