{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main section start -->
    <main>
        <!-- hero section start -->
        <section class="hero">
            <div class="inner">
                <div class="overlay">
                    <div class="hero-main">
                        <div class="hero-content">
                            <h1>Get 15% off your rental
                                plan your trip now
                            </h1>
                            <h5>Treat yourself in USA</h5>
                        </div>
                        <div class="hero-form">
                            <div class="car-form">
                                <h3>CONTINUE CAR RESERVATION</h3>
                                <form>
                                    <select class="selection">
                                        <option value="">Select Your Car type</option>
                                        <option value="">VW Golf VII</option>
                                        <option value="">Audi A1 S-Line</option>
                                        <option value="">Toyota Camry</option>
                                        <option value="">BMW 320 ModernLine</option>
                                    </select>
                                    <div class="form-location">
                                        <div class="pick-up">
                                            <span><i class="fa-solid fa-location-dot"></i></span>
                                            <span>Pick Up</span>
                                        </div>
                                        <input type="text" placeholder="Enter a City or Airport">
                                    </div>
                                    <h4 class="need">Need a different drop-off location?</h4>
                                    <div class="form-location">
                                        <div class="pick-up">
                                            <span><i class="fa-solid fa-location-dot"></i></span>
                                            <span>Drop-off</span>
                                        </div>
                                        <input type="text" placeholder="Enter a City or Airport">
                                    </div>
                                    <div class="time-date">
                                        <div class="pick-up-1">
                                            <span><i class="fa-solid fa-calendar"></i></span>
                                            <span>Pick Up</span>
                                        </div>
                                        <input type="date" placeholder="dd-mm-yyyy">

                                        <select class="selction1">
                                            <option value="">12:00AM</option>
                                            <option value="">1:00AM</option>
                                            <option value="">2:00AM</option>
                                            <option value="">3:00AM</option>
                                            <option value="">4:00AM</option>
                                            <option value="">5:00AM</option>
                                            <option value="">6:00AM</option>
                                            <option value="">7:00AM</option>
                                        </select>
                                    </div>
                                    <div class="time-date">
                                        <div class="pick-up-1">
                                            <span><i class="fa-solid fa-calendar"></i></span>
                                            <span>Drop off</span>
                                        </div>
                                        <input type="date" placeholder="dd-mm-yyyy">

                                        <select class="selction1">
                                            <option value="">12:00AM</option>
                                            <option value="">1:00AM</option>
                                            <option value="">2:00AM</option>
                                            <option value="">3:00AM</option>
                                            <option value="">4:00AM</option>
                                            <option value="">5:00AM</option>
                                            <option value="">6:00AM</option>
                                            <option value="">7:00AM</option>
                                        </select>
                                    </div>
                                    <div class="book">
                                        <input type="submit" value="Book Now">
                                    </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            </div>
            </div>
        </section>
        <!-- hero section end -->


        <!-- cental about start -->
        <section class="cental-about">
            <div class="overlay">
                <div class="cental-1">
                    <h2 class="cental-heading">
                        <span>Cental</span>
                        About
                    </h2>
                    <p class="cental-para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, esse eaque reprehenderit
                        sequi
                        molestiae architecto odit at
                        esse eaque reprehenderit sequi molestiae architecto odit at repudiandae minima dolores animi.
                        Dolorum, quidem! Maiores quidem.
                    </p>
                    <div class="our">
                        <div class="our-vision">
                            <div class="our-v">
                                <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                            </div>
                            <h3 class="vision">Our Vision</h3>
                            <p class="our-para">Lorem ipsum dolor sit amet
                                consectetur, sit amet ipsum dolor sit ame adipisicing elit.</p>
                        </div>
                        <div class="our-vision">
                            <div class="our-v">
                                <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                            </div>
                            <h3 class="vision">Our Vision</h3>
                            <p class="our-para">Lorem ipsum dolor sit amet
                                consectetur, sit amet ipsum dolor sit amet adipisicing elit.</p>
                        </div>
                    </div>
                    <p class="about-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste ipsam quod,
                        labore corrupti tempora dignissimos quasi voluptatibus quas, modi deleniti harum esse, ea sunt
                        tempore doloremque recusandae ipsam optio cupiditate. Officia voluptate eveniet quo?</p>
                    <div class="experience">
                        <div class="years">
                            <h2 class="number">17</h2>
                            <h3 class="of">Years Of Experience</h3>
                        </div>
                        <div class="years-1">
                            <ul type="none">
                                <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                    <span>Morbi trishfjf hjdkm dhgj senfhjhfjf</span>
                                </li>
                                <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                    <span>A sclertity if gdjf jdkfd puredgh</span>
                                </li>
                                <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                    <span>Dictom of the dhjf uejd menshn</span>
                                </li>
                                <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                    <span>Scgeh jkd bdhn dhjd ksjaks id sheghm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="more-about">
                        <div class="more-btn">
                            <div class="more">
                                <a href="#">More About Us</a>
                            </div>
                        </div>
                        <div class="about-id">
                            <div class="id-pic"></div>
                            <div class="id-name">
                                <h2 class="william">William Burgess</h2>
                                <h5 class="carveo">Carveo Founder</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cental-1">
                    <div class="about-img1">
                        <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                    </div>
                    <!-- <div class="about-img2"> -->
                    <!-- <img src="static/images/about-img-1.jpg" alt="about-img-1"> -->
                </div>
            </div>
            </div>
        </section>
        <!-- cental about end -->



        <!-- number section start -->
        <section class="about3">
            <div class="about3-inner">
                <div class="overlay">
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">829+</h2>
                            <h3 class="happy">Happy Client</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">56+</h2>
                            <h3 class="happy">Numbers of Cars</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">127+</h2>
                            <h3 class="happy">Car Center</h3>
                        </div>
                    </div>
                    <div class="about3-features">
                        <div class="about3-icon">
                            <div class="about3-icon1">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <div class="about3-text">
                            <h2 class="client">589+</h2>
                            <h3 class="happy">Total kilometers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- number section end -->


        
        <!-- cental services section start -->
        <section class="cental-services">
            <div class="services-heading">
                <h2 class="services-hd"><span>Cental</span>    Services</h2>
                <p class="services-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nemo quaerat
                    velit
                    quis, pariatur sint fugiat libero quo natus adipisci inventore,adipisicing elit. Eius nemo quaerat
                    velit
                    quis, pariatur sint fugiat quae obcaecati? Suscipit, mollitia?</p>
            </div>
            <div class="overlay">
                <div class="car-services">
                    <div class="car-services1">
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    Phone Reservation
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit.
                                    voluptatem ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-rectangle-list"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    Special Rate
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga elit. voluptatem
                                    ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-road"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    On Way Rantel
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit.
                                    voluptatem ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="car-services2">
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-umbrella"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    Life Insurance
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas elit.
                                    voluptatem ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-building"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    City to City
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit adipisicing elit. Fuga voluptas adipisicing elit. voluptatem
                                    ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                        <div class="car-s">
                            <div class="phone">
                                <div class="phone-icon">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                            </div>
                            <div class="phone-text">
                                <h3 class="phone-heading">
                                    Free Rides
                                </h3>
                                <p class="phone-para">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga elit. voluptatem
                                    ipsum dolor sit amet vitae Fuga ut soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cental services section end -->



        <!-- Vechicle categories section start -->
        <section class="vechile-categories">
            <div class="vechicle-top">
                <h2 class="vechile-heading">
                    <span>Vecicle</span>
                    Categories
                </h2>
                <p class="vechicle-para">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur sapiente harum repellendus
                    officia voluptatibus, voluptas quibusdam dolorum sunt, laboriosam atque? Suscipit architecto
                    eligendi quibusdam! Quaerat, eos!
                </p>
            </div>
            <div class="overlay">
                <div class="vechicle-bottom">
                    <div class="car-model">
                        <div class="car-image">
                            <img src="{% static 'images/car-4.png' %}" alt="car-4">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Hyundai Kona Electric</h3>
                            <p class="car-rating">4.8 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <div class="car-day">
                                <span>$187:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="car-model">
                        <div class="car-image">
                            <img src="{% static 'images/car-1.png' %}" alt="car-1">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Mercedes Benz R3</h3>
                            <p class="car-rating">4.5 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="car-day">
                                <span>$99:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="car-model">
                        <div class="car-image">
                            <img src="{% static 'images/car-2.png' %}" alt="car-2">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Toyota Corolla Cross</h3>
                            <p class="car-rating">4.8 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <div class="car-day">
                                <span>$128:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Vechicle categories section end -->



        <!-- cental process start -->
        <section class="cental-process">
            <div class="process-inner">
                <div class="process-heading">
                    <h2 class="cental-heading"><span>Cental</span>Process</h2>
                    <p class="process-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam?
                        Sed
                        sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                        obcaecati animi dolorum nulla.</p>
                </div>
                <div class="overlay">
                    <div class="process-information">
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Come in Conatact
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>01.</span></div>
                        </div>
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Choose A Car
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>02.</span></div>
                        </div>
                        <div class="process-contact">
                            <h2 class="inform-h1">
                                Enjoy Driving
                            </h2>
                            <p class="inform-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                            </p>
                            <div class="about3-gola"><span>03.</span></div>
                        </div>
                    </div>

                </div>
        </section>
        <!-- cental process end -->



        <!-- cental blog news section start -->
        <section class="cental-blog">
            <div class="blog-top">
                <h2 class="blog-heading">Cental
                    <span>Blog & News</span>
                </h2>
                <p class="blog-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam? Sed
                    sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                    obcaecati animi dolorum nulla.</p>
            </div>

            <div class="overlay">
                <div class="blog-bottom">
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-1.jpg' %}" alt="blog-1">
                            <div class="dec30">
                                <span>30 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving">Rental Cars how to check
                                driving fines?
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in alias,
                                quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-2.jpg' %}" alt="blog">
                            <div class="dec30">
                                <span>25 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Rental cost of sport and other
                                cars
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in
                                alias,nulla blanditiis quisquam, ex ut quis quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'images/blog-3.jpg' %}" alt="blog-3">
                            <div class="dec30">
                                <span>27 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Document required for car rental
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum,nulla blanditiis quisquam,
                                ex ut
                                quis tenetur ullam rem in alias, quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- cental blog news section end -->



        <!-- ranting your car section start -->
         <section class="overlay">
            <div class="car-images">
                <div class="car-opicity">
                    <div class="rent-content">
                        <h4>Rent Your Car</h4>
                        <h3>Interested in renting ?</h3>
                        <h5>Don't hesitate and send us a messgae.</h5>
                        <div class="social">
                            <div class="whatsapp"><a href="#">whtasapp</a></div>
                            <div class="contect"><a href="#">contect us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ranting your car section end -->


        <!-- client review start -->
        <section class="client-review">
            <div class="review-top">
                <h3 class="heading-review">Our  Clients  <span>Review</span></h3>
                <p class="heading-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                    exercitationem
                    sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
            </div>
            <div class="review-bottom">
                <div class="overlay">
                    <div class="person-card">
                        <div class="card-top">
                            <div class="girl-icon">
                                <div class="girl-pic">
                                    <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                                </div>
                            </div>
                            <div class="girl-detail">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <span class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>

                            </div>
                        </div>
                        <div class="card-bottom">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus doloribus cumque,
                                sunt quasi maiores enim reprehenderit minima quaerat expedita vel quis voluptate
                                inventore recusandae.</p>
                        </div>
                    </div>
                    <div class="person-card">
                        <div class="card-top">
                            <div class="girl-icon">
                                <div class="girl-pic">
                                    <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                                </div>
                            </div>
                            <div class="girl-detail">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>

                            </div>
                        </div>
                        <div class="card-bottom">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus doloribus cumque,
                                sunt quasi maiores enim reprehenderit minima quaerat expedita vel quis voluptate
                                inventore recusandae.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- client review end -->

            <!-- customer support center  start-->
                <section class="customer-support">
            <div class="customer-top">
                <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
                <p class="customer-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                    exercitationem
                    sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
            </div>
            <div class="customer-bottom">
                <div class="overlay">
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                 <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                          <h3 class="customer-heading">Martin Doe</h3>
                          <p class="pro">Profession</p>
                            <div class="rent-social">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <i class="fa-brands fa-twitter"></i>
                                  <i class="fa-brands fa-instagram"></i>
                                   <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                        <div class="team-content"></div>
                    </div>
                    <div class="team-item">
                           <div class="team-img">
                            <div class="image-div">
                                 <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                            </div>
                          <h3 class="customer-heading">Martin Doe</h3>
                          <p class="pro">Profession</p>
                            <div class="rent-social">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <i class="fa-brands fa-twitter"></i>
                                  <i class="fa-brands fa-instagram"></i>
                                   <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                        <div class="team-content"></div>
                    </div>
                    <div class="team-item">
                           <div class="team-img">
                            <div class="image-div">
                                 <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                            </div>
                          <h3 class="customer-heading">Martin Doe</h3>
                          <p class="pro">Profession</p>
                            <div class="rent-social">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <i class="fa-brands fa-twitter"></i>
                                  <i class="fa-brands fa-instagram"></i>
                                   <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                        <div class="team-content"></div>
                    </div>
                    <div class="team-item">
                           <div class="team-img">
                            <div class="image-div">
                                 <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                          <h3 class="customer-heading">Martin Doe</h3>
                          <p class="pro">Profession</p>
                            <div class="rent-social">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <i class="fa-brands fa-twitter"></i>
                                  <i class="fa-brands fa-instagram"></i>
                                   <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                        <div class="team-content"></div>
                    </div>
                </div>
            </div>
                </section>
            <!-- customer support center end-->
        
    </main>
    <!-- main section end -->

{% endblock %}
    