{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about section start -->
<section class="about">
    <div class="inner">
        <h2 class="about-us">404 Pages</h2>
        <div>
            <a href="index.html">Home /</a>
            <span>Pages /</span>
            <span>404 Pages</span>
        </div>
    </div>
    </div>
</section>


<!-- 404 section start -->
<section class="pages-404">
    <div class="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    
        <h2>404</h2>
    <h3>Page Not Found</h3>
    <p>
        A temporary server issue might be resolved by refreshing .Search for the page's topic on Google, adding the website name (e.g., "best hiking trails site:example.com").
    </p>
        <div class="get-home">
            <a href="index.html">Go Back To Home</a>
        </div>
    </div>
    

</section>
<!-- 404 section end -->

{% endblock %}