{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about section start -->
<section class="about">
    <div class="inner">
        <h2 class="about-us">404 Pages</h2>
        <div>
            <a href="index.html">Home /</a>
            <span>Pages /</span>
            <span>404 Pages</span>
        </div>
    </div>
    </div>
</section>


<!-- 404 section start -->
<section class="pages-404">
    <div class="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    
        <h2>404</h2>
    <h3>Page Not Found</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur totam magni eaque eius officia asperiores
        omnis nostrum nemo porro, iure adipisci ea impedit reprehenderit nulla delectus vel. Eum, ex placeat.</p>
        <div class="get-home">
            <a href="index.html">Go Back To Home</a>
        </div>
    </div>
    

</section>
<!-- 404 section end -->

{% endblock %}