{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Team</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Team</span>
            </div>
        </div>
        </div>
    </section>
    <!-- about end -->


  <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">
                Empathy is a cornerstone of great customer support. Actively listening to customers helps ensure that their concerns are fully understood before offering solutions. Demonstrating understanding and compassion can diffuse tense situations and create a more positive experience.
            </p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>
                    <div class="team-content"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer support center end-->  
        
{% endblock %}